VITE_ROUTER_ADDRESS=0x...
VITE_WWWEBD_ADDRESS=0x...
VITE_FACTORY_ADDRESS=0x...
VITE_USDC_ADDRESS=0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359
VITE_CHAIN_ID=137
VITE_BRIDGE_API=http://localhost:4000
VITE_POLYGON_RPC=https://polygon-rpc.com
